@font-face {
  font-family: "M PLUS 1p";
  src: local("Mplus 1p"), local("Mplus1p-Regular"), url("../fonts/Mplus1p.woff2") format("woff2"), url("../fonts/Mplus1p.woff") format("woff"), url("../fonts/Mplus1p.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS 1p";
  src: local("Mplus 1p Medium"), local("Mplus1p-Medium"), url("../fonts/Mplus1pmedium.woff2") format("woff2"), url("../fonts/Mplus1pmedium.woff") format("woff"), url("../fonts/Mplus1pmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
  padding: 0;
}

input,
textarea,
select {
  -webkit-appearance: none;
}

html,
body {
  /*height: 100%;*/
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/*-------------------------------------------------*/

body {
  font-family: "M PLUS 1p";
  font-weight: 400;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

.fade {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 4;
}

.fade.active {
  display: block;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0B0A0D;
}

.container {
  width: 1270px;
  padding: 0 15px;
}

.header__wrapper {
  height: 120px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header__wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper .logo {
  height: auto;
  margin-right: 212px;
}

.header__wrapper .burger__btn {
  display: none;
}

.header__wrapper .burger__btn.close .burger__line {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.header__wrapper .burger__btn.close .burger__line:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: auto;
  margin-top: 7.5px;
}

.header__wrapper .burger__btn.close .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: auto;
  margin-top: -3px;
}

.header__wrapper .burger__btn.close .burger__line:last-child {
  display: none;
}

.header__wrapper .burger__btn .burger__line {
  width: 100%;
  height: 3px;
  margin-bottom: 7.5px;
  background-color: #fff;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.header__wrapper .burger__btn .burger__line:last-child {
  width: 18px;
  margin-left: 18px;
  margin-bottom: 0;
}

.header__wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper nav .nav__item {
  color: #fff;
  height: 65px;
  min-width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 16px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

.header__wrapper nav .nav__item.active:after {
  content: "";
  height: 2px;
  background-color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.header__wrapper nav .nav__item:hover {
  color: #75FF72;
}

.header__wrapper nav .nav__item.active:hover {
  color: #fff;
}

.header__wrapper .submenu {
  position: absolute;
  top: 93px;
  left: 0;
  z-index: 3;
  height: 288px;
  width: 100%;
  background-color: #0B0A0D;
  display: none;
}

.header__wrapper .submenu__container {
  width: 1240px;
  padding: 0 15px;
  padding: 75px 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.header__wrapper .submenu__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 142px;
  height: 21px;
}

.header__wrapper .submenu__item:nth-child(2n) {
  margin-right: 160px;
}

.header__wrapper .submenu__item:nth-child(n+3) {
  margin-top: 30px;
}

.header__wrapper .submenu__item:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 500;
  font-size: 80px;
  line-height: 85px;
  letter-spacing: -0.03em;
  color: #fff;
}

.slider__wrapper {
  padding-top: 125px;
  overflow: hidden;
}

.slider {
  overflow: visible;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.slider .swiper-slide h1 {
  position: absolute;
  bottom: 160px;
  left: 50px;
}

.slider .swiper-slide img {
  width: 100%;
  border-radius: 6px;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .slider__nav {
  margin-top: 64px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slider__arrow {
  height: 22px;
  width: 100px;
  position: relative;
  right: auto;
  left: auto;
  top: 0;
  margin-top: 0;
}

.slider .slider__arrow:hover svg path {
  fill: #75FF72;
}

.slider .slider--prev {
  margin-right: 32px;
}

.slider .slider__arrow:after {
  display: none;
}

.faq__wrapper {
  padding-top: 150px;
}

.faq__wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq__wrapper .accordion__container {
  width: 988px;
}

.faq__wrapper .accordion__container .accordion {
  height: 95px;
  padding-top: 30px;
  cursor: pointer;
}

.faq__wrapper .accordion__container .accordion.active {
  height: auto;
}

.faq__wrapper .accordion__container .accordion:first-child {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.faq__wrapper .accordion__container .accordion__border {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.faq__wrapper .accordion__container .accordion__subtitle {
  display: none;
  margin: 30px 0;
  font-size: 16px;
  line-height: 24px;
}

.faq__wrapper .accordion__container .accordion__title {
  font-size: 24px;
  line-height: 35px;
}

.news__wrapper {
  padding-top: 100px;
  overflow: hidden;
}

.news__wrapper h1 {
  margin-bottom: 30px;
}

.news__wrapper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 110px;
}

.news__wrapper .swiper-wrapper .swiper-slide {
  width: 400px;
  margin-right: 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news__wrapper .swiper-wrapper .swiper-slide:nth-child(3n) {
  margin-right: 0;
}

.news__wrapper .swiper-wrapper .swiper-slide:nth-child(n+4) {
  margin-top: 50px;
}

.news__wrapper .swiper-wrapper .swiper-slide .news__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
}

.news__wrapper .swiper-wrapper .swiper-slide .news__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
}

.subscribe__wrapper {
  background-color: #fff;
  color: #0B0A0D;
}

.subscribe__wrapper h1 {
  color: #0B0A0D;
  margin-top: 50px;
}

.subscribe__wrapper h3 {
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
  max-width: 400px;
}

.subscribe__wrapper form {
  width: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 50px;
}

.subscribe__wrapper form input {
  width: 400px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-right: 20px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 20px;
  color: #0B0A0D;
}

.subscribe__wrapper form input:nth-child(2n) {
  margin-right: 0;
}

.subscribe__wrapper form input:nth-child(n+3) {
  margin-top: 20px;
}

.subscribe__wrapper form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe__wrapper form input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe__wrapper form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe__wrapper form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe__wrapper form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe__wrapper form input:focus {
  border: 1px solid #000000;
}

.subscribe__wrapper form input:focus::-webkit-input-placeholder {
  color: #0B0A0D;
}

.subscribe__wrapper form input:focus::-moz-placeholder {
  color: #0B0A0D;
}

.subscribe__wrapper form input:focus:-ms-input-placeholder {
  color: #0B0A0D;
}

.subscribe__wrapper form input:focus::-ms-input-placeholder {
  color: #0B0A0D;
}

.subscribe__wrapper form input:focus::placeholder {
  color: #0B0A0D;
}

.subscribe__wrapper form button {
  width: 141px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0B0A0D;
  margin-top: 20px;
}

.subscribe__wrapper form button:hover {
  background-color: #75FF72;
  border-color: #75FF72;
}

.footer {
  background: #312F35;
  height: 252px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__col {
  margin-top: 50px;
  margin-right: 119px;
}

.footer__soc {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__soc a {
  margin-right: 30px;
}

.footer__soc a:last-child {
  margin-right: 0;
}

.footer__soc a:hover svg path {
  fill: #75FF72;
}

.footer__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  max-width: 400px;
}

.footer a.footer__link {
  font-size: 14px;
  line-height: 21px;
  text-decoration: underline;
  margin-top: 25px;
  color: #fff;
  display: block;
}

.footer a.footer__link:hover {
  text-decoration: none;
}

@media (max-width: 1270px) {
  .container {
    width: 950px;
  }

  .faq__wrapper .accordion__container {
    width: 600px;
  }

  .news__wrapper .swiper-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .news__wrapper .swiper-wrapper .swiper-slide:nth-child(2n) {
    margin-right: 0;
  }

  .news__wrapper .swiper-wrapper .swiper-slide:nth-child(n+3) {
    margin-top: 50px;
  }

  .news__wrapper .swiper-wrapper .swiper-slide:nth-child(3n) {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 750px;
  }

  .header__wrapper .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__wrapper .burger__btn {
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 6;
    width: 36px;
    height: 24px;
  }

  .header__wrapper nav {
    position: absolute;
    height: 100vh;
    display: none;
    background-color: #312F35;
    top: 0;
    right: 0;
    width: calc((100% - 750px) / 2 + 250px);
    padding-top: 120px;
  }

  .header__wrapper nav .nav__item {
    height: auto;
    margin-bottom: 40px;
    width: auto;
    display: block;
    margin-left: 40px;
  }

  .header__wrapper nav .nav__item.open {
    margin-bottom: 30px;
  }

  .header__wrapper nav {
    width: 78%;
  }

  .header__wrapper .submenu {
    background-color: #312F35;
    position: relative;
    top: auto;
    margin-bottom: 30px;
    height: auto;
    padding-left: 82px;
  }

  .header__wrapper .submenu__container {
    padding: 0;
    display: block;
  }

  .header__wrapper .submenu__item {
    margin: 0;
    display: block;
    margin-bottom: 30px;
  }

  .header__wrapper .submenu__item:nth-child(2n) {
    margin: 0;
    margin-bottom: 30px;
  }

  .header__wrapper .submenu__item:nth-child(n+3) {
    margin-top: auto;
  }

  h1 {
    font-size: 40px;
  }

  .faq__wrapper .accordion__container {
    width: 500px;
  }

  .news__wrapper .container {
    overflow: visible;
  }

  .news__wrapper .news__slider {
    overflow: visible;
  }

  .news__wrapper .swiper-slide-prev {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .news__wrapper .swiper-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .news__wrapper .swiper-wrapper .swiper-slide {
    margin-right: 30px;
  }

  .news__wrapper .swiper-wrapper .swiper-slide:nth-child(2n) {
    margin-right: 30px;
  }

  .news__wrapper .swiper-wrapper .swiper-slide:nth-child(n+3) {
    margin-top: 0;
  }

  .subscribe__wrapper form {
    width: 720px;
  }

  .subscribe__wrapper form input {
    width: 290px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 450px;
  }

  .slider {
    overflow: hidden;
  }

  .slider .swiper-slide h1 {
    left: 20px;
  }

  .slider .swiper-slide img {
    height: 450px;
  }

  .slider .slider__nav {
    margin-top: 20px;
  }

  .faq__wrapper {
    padding-top: 80px;
  }

  .faq__wrapper .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .faq__wrapper .accordion__container {
    width: 100%;
  }

  .faq__wrapper .accordion__container .accordion {
    height: auto;
    padding: 20px 0;
  }

  .faq__wrapper .accordion__container .accordion__subtitle {
    margin: 0 0 20px 0;
  }

  .news__wrapper {
    padding-top: 80px;
  }

  .news__wrapper h1 {
    margin-bottom: 20px;
  }

  .news__wrapper .swiper-wrapper .swiper-slide {
    margin-right: 20px;
  }

  .news__wrapper .swiper-wrapper .swiper-slide:nth-child(2n) {
    margin-right: 20px;
  }

  .subscribe__wrapper h1 {
    margin-top: 30px;
  }

  .subscribe__wrapper form {
    width: 420px;
  }

  .subscribe__wrapper form {
    width: 100%;
  }

  .subscribe__wrapper form input {
    width: 290px;
    margin-right: 0;
  }

  .subscribe__wrapper form input:not(:first-child) {
    margin-top: 20px;
  }

  .subscribe__wrapper form input[name=mail] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .subscribe__wrapper form input[name=phone] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .subscribe__wrapper form input[name=date] {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .subscribe__wrapper form input[name=time] {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .subscribe__wrapper form button {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .footer {
    height: auto;
  }

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__soc {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-bottom: 160px;
  }
}

@media (max-width: 481px) {
  .header__wrapper .logo {
    margin-right: 0;
  }

  .news__wrapper .swiper-wrapper .swiper-slide {
    width: 200px;
  }

  .news__wrapper .swiper-wrapper .swiper-slide:nth-child(2n) {
    margin-right: 20px;
  }

  .news__wrapper .swiper-wrapper .swiper-slide img {
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 264px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 300px;
  }
}